@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body{
    background-color: #121212;
}

button{
    height: 50px;
    width: 50px;
    margin: 0 6px 0 6px;
    border-radius: 25px;
    background-color: transparent;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 15px;

    transition: all .3s;
}

.submit{
    align-self: center;
    border: solid 3px rgb(228, 61, 61);
    box-shadow: 0 0 7px rgb(228, 61, 61);
}

.submit:hover{
    cursor: grabbing;
    border: solid 3px rgb(221, 25, 25);
    box-shadow: 0 0 10px rgb(221, 25, 25);
}

.uni{
    display: flex;
    justify-content: center;
    height: 98vh;
    width: 100%;
}

.cont{
    /*background-color: #191919;*/
    background-color: transparent;
    flex-direction: column;
    align-self: center;
    display: flex;
    padding: 20px;
    gap: 10px;
    border-radius: 20px;
}

.upper{
    display: flex;
    flex-direction: column;
}

.label{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: white;
    align-self: center;
    margin-bottom: 100px;
    transition: all .8s;
}

#display{
    margin-bottom: 20px;
    height: 40px;
    width: 250px;
    border: solid 2px white;
    box-shadow: 0 0 4px white;
    border-radius: 25px;
    background-color: transparent;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
    outline: none;
    padding-left: 10px;

    transition: all .3s;
}