body{
    background-color: #212121;
}

.uni{
    display: flex;
    justify-content: center;
    height: 98vh;
    width: 100%;
}

.cont{
    background-color: #313131;
    flex-direction: column;
    align-self: center;
    display: flex;
    padding: 20px;
    gap: 10px;
}

.buttons{
    display: flex;
    justify-content: space-between;
}

.equals{
    margin-left: 55px;
}